@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
h1{
    font-family:'Indie Flower', cursive;
    z-index: auto;
}
h2{
    font-family: 'Indie Flower', cursive;
}
h5{
    font-family: 'Indie Flower', cursive;
}
p{
    z-index:auto;
}
#crows{
    z-index: -999;
    position: fixed;

}
body{
    background-image: url(/mfw-final/Images/dark-honeycomb.png);
    color:whitesmoke;
    font-family:'Shadows Into Light', cursive;
}
.dropdown-item{
    color: #a0a0a0;
}
.accordion-button{
    color: #a0a0a0;
}
.row1{
    text-align: center;
}
#footer{
    text-align: center;
}